body {
  background-color: lightslategray;
  /* background-image: url('./Assets');
  background-repeat: no-repeat;
  background-size: cover; */
  box-sizing: border-box;
  /* font-family: ; */
  /* letter-spacing: .13em; */
  min-height: 100%;
  width: 100%; 
}
